@font-face {
    font-family: 'Gilroy';
    src: url("/src/assets/fonts/Gilroy-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("/src/assets/fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("/src/assets/fonts/Gilroy-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Serif';
    src: url("/src/assets/fonts/NotoSerif-Bold.ttf");
    font-weight: bold;
}