$defaultFont: 'Gilroy', sans-serif;
$defaultFontWeight: normal;
$defaultColor: #333333;
$defaultFontSize: 1.4rem;
$accentFont: 'Noto Serif', sans-serif;
$btn_default_font_weight: normal;
$btn_default_font_color: #fff;
$btn_default_font_size: 1.8rem;
$btn_default_background_color: #333333;
$btn_default_padding: 10px 20px;